@import 'tailwindcss';
@import '../../shared/styles/theme-variables.css';

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px; /* Компенсація для fixed header */
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-montserrat), sans-serif;
  }

  h2 {
    @apply mt-10 mb-4 text-3xl leading-none font-semibold max-md:w-full max-md:text-center md:text-6xl;
  }

  h3 {
    @apply text-[24px] leading-normal font-bold md:text-[32px];
  }

  h4 {
    @apply text-[24px] leading-normal font-bold;
  }
}
