@import "tailwindcss";
@import '../../shared/styles/theme-variables.css';

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px; /* Компенсація для fixed header */
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-montserrat), sans-serif;
  }

  h2 {
    @apply text-[2rem] font-semibold leading-none lg:text-3xl mb-4 mt-10;
  }

  h3 {
    @apply text-[24px] font-bold leading-normal md:text-[32px];
  }

  h4 {
    @apply text-[24px] font-bold leading-normal;
  }
}
