.markdown {
  @apply mb-[24px] text-base;

  h3 {
    @apply mb-3 px-5 text-center sm:mx-auto sm:w-2/3 md:inline-block md:max-w-[46%] md:px-5 lg:px-10;
  }

  h4 {
    @apply mb-5 mt-8;
  }

  p {
    @apply mb-2;
  }

  ul {
    @apply translate-x-6 list-disc marker:text-[20px] marker:text-accent-100;

    li {
      @apply mb-2 pr-5;
    }
  }

  hr {
    @apply my-5 border-accent-100;
  }

  a {
    @apply font-bold text-accent-100 underline transition;
  }
}
