@reference "../../app/(app)/globals.css";

.markdown {
  @apply mb-[24px] text-base;

  h1 {
    @apply mt-8 mb-6 text-4xl leading-tight font-bold text-gray-900;
  }

  h2 {
    @apply mt-8 mb-4 text-3xl leading-tight font-bold text-gray-900;
  }

  h3 {
    @apply mt-6 mb-3 text-2xl leading-snug font-semibold text-gray-800 sm:mx-auto sm:w-2/3 md:inline-block md:max-w-[46%];
  }

  h4 {
    @apply mt-6 mb-3 text-xl font-semibold text-gray-800;
  }

  h5 {
    @apply mt-4 mb-2 text-lg font-semibold text-gray-700;
  }

  h6 {
    @apply mt-4 mb-2 text-base font-semibold text-gray-700;
  }

  p {
    @apply mb-2;
  }

  ul {
    @apply marker:text-accent-100 translate-x-6 list-disc marker:text-[20px];

    li {
      @apply mb-2 pr-5;
    }
  }

  hr {
    @apply border-accent-100 my-5;
  }

  a {
    @apply text-accent-100 font-bold underline transition;
  }
}
